<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14557153524-5c4ibjbi72j9krf7c3touj3bj11ug15e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14557153524-5c4ibjbi72j9krf7c3touj3bj11ug15e</string>
	<key>API_KEY</key>
	<string>AIzaSyBaRohcpw___mMw0jmeZIGpM18PdsJUokc</string>
	<key>GCM_SENDER_ID</key>
	<string>14557153524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demothreen.ChatExample</string>
	<key>PROJECT_ID</key>
	<string>chatexample-27e76</string>
	<key>STORAGE_BUCKET</key>
	<string>chatexample-27e76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14557153524:ios:3fb10e0c3875fec55cf6a1</string>
</dict>
</plist>